<header class="menuTopo">
    <div class="container">
        <a href="/Project/index.html"> <img src="/Project/assets/logo_PNC_FACENS.png"></a>

        <ul>
            <li><a href="/Project/index.html">Inicio</a></li>
            <li><a href="/Project/pages/calculator_power.html">Calcular Dimensionamento</a></li>
            <li><a href="/Project/pages/calculator_savings.html">Calcular Economia</a></li>
            <li><a href="/Project/pages/about.html">Sobre</a></li>
        </ul>
    </div>
</header>